<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MY FEEDBACK SITE{% endblock %}</title>
    <style>
        body{font-family: Arial, Helvetica, sans-serif; padding: 20px; background: white;}
        header , footer{background: #333;padding: 10px;color: white;}
        nav a{margin: 0 10px; color: white;text-decoration: none;}
        main{
            background:wheat;padding: 20px;margin-top: 20px;border-radius:5px solid;
        }

    </style>
</head>
<body>
    <header>
        <h1>Feedback Page</h1>
        <nav>
            <a href="/feedback">Feedback</a>
        </nav>
    </header>  
 <main>
    {% block content %}
    <h1>This is home page</h1>
    <p>this home page build using flask</p>
    {% endblock %}
 </main>
 <footer>
    <p>&copy:2025 ayush </p>
 </footer>
</body>
</html>